{% ckan_extends %}

{% block header_logo %}
{% set action_url = '/base/images/VAG-Logo.png' %}
        {% if g.site_logo %}
          <a class="logo" href="{{ h.url_for('home') }}"><img src="{{ action_url }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
        {% else %}
          <h1>
            <a class="logo" href="{{ h.url_for('home') }}"><img src="{{ action_url }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
          </h1>
          {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
        {% endif %}
      {% endblock %}
