{% extends "page.html" %}

{% block subtitle %}{{ _('Real time') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Real time'), controller='ckanext.vag.controllers.widget:RealTimeWidgetController', action='real_time_widget' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {%trans%}
      <p>Professioneller Echtzeit-Abfahrtsmonitor für definierbare Haltestellen. Dieser stellt ein Beispiel für die Nutzung unserer Schnittstelle "Fahrplan | Echtzeitabfahrtsmonitor: Schnittstellenbeschreibung API" dar (http://opendata.vag.de/dataset/api-echtzeitauskunft).</p>

      <p>Installationshandbuch zum <a href="https://nergie.l2.ckan.io/de/dataset/1863c0ee-9415-4c53-adae-822ab72bc602/resource/41437f27-101b-4fa2-bf73-c8f31b4a3560/download/  installationshandbuch-profi-widget-v0.4.pdf">Download</a> </p>

      <p><a href="https://nergie.l2.ckan.io/de/dataset/1863c0ee-9415-4c53-adae-822ab72bc602/resource/f459af2a-c02d-4ac9-82d7-e73406e6b611/download/vag-profi-widget.msi">Programmdatei</a></p> 
      {%endtrans%}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
